<div>
  <div class="content">
  	<div class="container">
	  	<div class="box">
	  		<ul>
				<li><a href="/downloads/ueber-padento">Über Padento</a>
				<li><a href="/downloads/pressetext">Pressetext</a>
				<li><a href="/downloads/aufkleber">Aufkleber</a>
				<li><a href="/downloads/aufkleber-anleitung">Aufkleber - Anleitung</a>
				<li><a href="/downloads/guide/padento-einfuehrung">Technische Einführung in Padento</a>
				<li><a href="/downloads/guide/patienten-gewinnen">Patienten gewinnen mit Padento</a>
				<li><a href="/downloads/telefon-fragebogen">Telefon-Fragebogen</a>
				<li><a href="/downloads/padentogespraechsleitfaden">Padento-Gesprächsleitfaden</a>
				<li><a href="/downloads/logos">Padento Logos</a>
	  		</ul>
	  	</div>
  	</div>
  </div>
</div>