<div>
  <div class="content">
  	<div class="container">
	  	<div class="box">
	  		<div class="row">
	  			<div class="col-md-6">
	      			<a href="/downloads/guide/padento-einfuehrung">
	      				<img src="/img/Padento_Guide_1_technische_Einfuehrung.png">
	  				</a>
	  			</div>
	  			<div class="col-md-6">
		  			<a href="/downloads/guide/patienten-gewinnen">
		  				<img src="/img/Padento_Guide_2_Patienten_gewinnen.png">
		  			</a>
	  			</div>
	  		</div>

	  	</div>
  	</div>
  </div>
</div>