<div>
  <div class="content">

  	<div class="container">
	  	<div class="row-fluid">
	  		<div class="col-md-4">
	  			<div class="box">
	  				<a href="http://www.dentalligent.de/" target="_blank">
	  					<img src="/img/dentalligent.jpg" alt="">
	  				</a>
	  			</div>
	  		</div>
	  		<div class="col-md-4">
	  			<div class="box">
					<a href="http://www.synmedico.com/" target="_blank">
						<img src="/img/synmedico.jpg" alt="">
					</a>
	  			</div>
	  		</div>
	  		<div class="col-md-4">
	  			<div class="box">
	  				<a href="http://www.abcfinance.de/" target="_blank">
	  					<img src="/img/abcfinance.jpg" alt="">
	  				</a>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="row-fluid">
	  		<div class="col-md-4">
	  			<div class="box">
	  				<a href="http://www.carecapital.de/" target="_blank">
	  					<img src="/img/carecapital.jpg" alt="">
	  				</a>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="row-fluid">
	  		<div class="col-md-4">
	  			<div class="box">
	  				<a href="http://www.denseo-hiq.de/de/" target="_blank">
	  					<img src="/img/Denseo.jpg" alt="">
	  				</a>
	  			</div>
	  		</div>
	  	</div>
  	</div>
  </div>
</div>