<div>
  <div class="content">
	  	<div class="row">
	  		<div class="col-md-8">
		  		<div class="box">
		  			<h2>Upgrade: Terminmanagement</h2>

		  			<p>Sie haben als Laborchef nicht so viel Zeit, die Kontakte, die von Padento kommen, anzurufen? Rechnen Sie sich Ihren Stundensatz einmal aus und zählen Sie die Zeit einmal zusammen, wie lange Sie für das Telefonieren der Kontakte im Monat brauchen.

		  			<p>Wenn Ihr Stundensatz bei ca. 60 € liegt, sind das nur 2,5 Stunden, die schnell verbraucht sind. Wenn wir für Sie telefonieren sind das 150 € im Monat. Das entspricht also genau den 2,5 Stunden. Wenn Sie mehr Zeit im Monat dazu brauchen, macht es Sinn für Sie, diesen Service zu buchen. Sie sparen dabei echtes Geld.

		  			<p>Vielleicht haben Sie aber auch einfach nicht immer die Motivation, nach einem anstrengenden Laboralltag die Kontakte anzurufen und machen es vielleicht deshalb nur halbherzig und Ihre Ergebnisse werden nicht so gut. Wir haben eine fast 100%-ige Trefferquote für einen Termin bei Ihnen im Labor, wenn wir den Kontakt erreichen, weil wir das den ganzen Tag machen.

		  			<p>Mit diesem Service bekommen Sie also den Patienten auf dem Silbertablett in Ihr Labor. Wahrscheinlich sind es auch mehr Termine, die wir erreichen.

		  			<p>Selbst wenn ein Patient nicht zum Termin erscheint, schicken Sie ihn einfach mit einem Klick wieder an uns zurück und wir versuchen es noch einmal.

		  			<p>Der Service ist an keine Laufzeit gebunden und kann jederzeit monatlich gebucht oder storniert werden. Auch für Urlaubszeiten ist das ideal.

		  			<p>Wenn Sie den Terminservice buchen wollen, schreiben Sie uns eine kurze Mail, oder rufen Sie uns an:
		  			<p><a href="mailto:info@padento.de" class="btn btn-primary">Mailanfrage senden</a>
		  		</div>

		  		<div class="box">
		  			<h2>Upgrade: Mehr Kontakte</h2>
		  			<p>Sie sehen, dass Padento für Sie funktioniert und Sie wollen mehr Kontakte haben? Kein Problem. Wenn Sie mehr investieren in mehr Werbung, erreichen wir mehr Menschen.

		  			<p>Sie können so viel zusätzlich bezahlen, wie Sie möchten. Sinn macht es, mit monatlichen 200 € - 600 € zusätzliche Kontakte zu generieren.

		  			<p>Dieser Service ist an keine Laufzeit gebunden und kann monatlich zugebucht oder storniert werden.

		  			<p>Wenn Sie mehr Umsatz in Ihr Labor holen wollen, fragen Sie diesen Service per Mail an oder rufen Sie uns an:
		  			<p><a href="mailto:info@padento.de" class="btn btn-primary">Mailanfrage senden</a>
		  		</div>
	  		</div>
	  		<div class="col-md-4">
	  			<div class="box">
	  				<h4>Kontakt</h4>
					<p>
						<strong>E-Mail:</strong> <a href="mailto:">info@padento.de</a><br>
						<strong>Telefon:</strong> <a href="tel:+495141360010">+49 5141 - 36 0010</a>
	  			</div>
	  		</div>
	  	</div>
  	</div>
</div>