//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@charset 'utf-8';
@font-face {
  font-family: 'Netto';
  src: url('/assets/fonts/NettoWebPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Netto';
  src: url('/assets/fonts/NettoWebPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@import 'settings';
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
// Components
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
// Components w/ JavaScript
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";
// Utility classes
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
// Bootstrap select
// @import "bower_components/bootstrap-select/sass/variables";
// @import "bower_components/bootstrap-select/sass/bootstrap-select";
// Messenger
@import "bower_components/messenger/build/css/messenger";
@import "bower_components/messenger/build/css/messenger-theme-future";
@import "bower_components/messenger/build/css/messenger-theme-air";
//bootstrap-datetimerpicker
@import "bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker";
//bootstrap-select
@import "bower_components/bootstrap-select/dist/css/bootstrap-select";
//FileInput
@import "bower_components/bootstrap-fileinput/css/fileinput.min";
//Font Awesome
@import "font-awesome";
// @import 'plugins/editable';
// @import 'components/summernote';
// @import 'components/upvote';
// @import 'components/user';
// @import 'components/post';
// @import 'components/stuff';
// @import 'components/popups';
// @import 'components/tags';
// @import 'components/comments';
$pcolor: #00aff5;
a {
  color: $pcolor;
}

.btn.btn-primary {
  background-color: $pcolor;
  border: 1px solid darken($pcolor, 5%);
}

body,
html {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Netto';
  color: #222222;
}

#app {
  height: 100%;
}

#content {
  position: relative;
  height: 100%;
}

#content > aside {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  /*box-shadow: 0px 0px 4px 0px darken($pcolor, 5%);*/
  z-index: 10;
  background-color: darken($pcolor, 20%);
}

#content > aside > header {
  padding: 20px;
  height: 100px;
  border-bottom: 1px solid darken($pcolor, 5%);
  border-right: 1px solid darken($pcolor, 5%);
  background-color: darken($pcolor, 0%);
}

#content > aside > nav.main-sidebar-nav {
  position: relative;
  height: 100%;
  width: 100%;
  .nav-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 150px;
    h4 {
      color: rgba(#fff, 0.6);
      text-transform: uppercase;
      font-size: 11px;
    }
    a {
      color: white;
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      &:hover,
      &.v-link-active {
        background: rgba(255, 255, 255, 0.1) !important;
      }
      &:focus {
        background: transparent;
        outline: none
      }
    }
    hr {
      border-color: darken($pcolor, 25%);
    }
  }
}

.logo {
  height: 100%;
  width: auto;
  padding-bottom: 0;
}

#content > main {
  position: relative;
  z-index: 5;
  margin-left: 249px;
  height: 100%;
  overflow: hidden;
}

#content > main > div {
  height: 100%;
}

#content > main > div > header {
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid darken(#FFF, 15%);
  background-color: darken(#FFF, 1%);
  position: relative;
  z-index: 10000000;
}

#content > main > div > header h1 {
  padding: 0;
  margin: 0;
  line-height: 100px;
}

#content > main .content {
  box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, .4);
  padding: 20px;
  background-color: #f0f7f5;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 130px;
}

.box {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 40px;
  background-color: #FFF;
  h2,
  h3 {
    margin-top: 0;
  }
  &.cta {
    background-color: rgba($brand-primary, 0.6);
    p,
    h3,
    h4 {
      color: $white;
    }
    .btn {
      background-color: $white;
      color: black;
      border: none;
    }
  }
}

.boxed {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  li {
    a {
      display: block;
    }
  }
}

.navbar-right {
  text-align: right;
  .navbar-field {
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid darken(#FFF,
        10%);
    &:last-child {
      padding-right: 0;
    }
  }
}

// .dropdown {
//     position: absolute;
//     top: 0;
//     right: 0;
// }

.user-panel {
  line-height: 100px;
  cursor: pointer;
  img {
    height: 40px;
    width: auto;
    margin-right: 10px;
  }
}

.nav {
  > li > a {
    padding-left: 0;
    i {
      display: inline-block;
      width: 30px;
      text-align: center;
      float: left;
      margin-bottom: 15px;
    }
    &:hover {
      background-color: transparent;
      color: rgba(white, .8);
    }
    &.v-link-active {
      background-color: transparent;
      color: rgba(white, .8);
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.filter-row {
  margin-bottom: 15px;
}

.green {
  color: #55aa32;
}

#notes {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #bcc3c5;
  padding-top: 30px;
}

.note {
  background-color: #FFF;
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  position: relative;
  .icon {
    position: absolute;
    top: 0;
    left: -36px;
    border: 1px solid #bcc3c5;
    border-radius: 1000px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    background-color: darken(#FFF, 1%);
    color: darken(#bcc3c5, 5%);
    font-size: 10px;
  }
  .note-content {
  }
}

.contact-question {
  // margin-bottom: 15px;
}

.stage-heading {
  text-transform: uppercase;
  // font-weight: bold;
}

.padento-questions {
  dl {
    margin-bottom: 0;
  }
}

.padento-questions-heading {
  text-transform: uppercase;
}

#stages {
  margin-bottom: 30px;
  display: table;
  width: 100%;
  .stages {
    display: table-row;
    text-align: center;
    font-size: 14px;
    padding: 0;
    width: 100%;
    .active {
      background: green;
      color: white;
    }
    li {
      vertical-align: middle;
      display: table-cell;
      width: calc(100% / 7);
      background-color: rgba(150, 150, 150, .3);
      &:hover {
        background-color: rgba(150, 150, 150, .5);
      }
      color: #999999;
      // border-right: 1px solid white;
      height: 69px;
      cursor: pointer;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.filter {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    list-style-type: none;
    display: inline-block;
  }
}

select {
  width: auto;
}

//     .pagination-nav {
//     text-align: center;
//     display: block;
//     ul {
//         display: inline-block;
//     }
// }
dl {
  font-size: 14px;
  .property-row {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    &:hover {
      border-top-color: darken(#fafafa, 5%);
      border-bottom-color: darken(#fafafa, 5%);
    }
    dt {
      text-align: right;
      font-weight: normal;
      color: #8c8c8c;
      padding: 5px;
    }
    dd {
      input {
        padding: 5px;
        border: 0;
        align-items: stretch;
        cursor: pointer;
        &:focus {
          background-color: darken(#fff, 5%);
          outline: none;
        }
      }
      .no-input {
        padding: 5px;
        word-wrap: break-word;
        align-items: stretch;
        display: block;
        text-overflow: ellipsis;
        white-space: normal;
        text-align: left;
        .radio-inline {
          position: relative;
          top: -2px;
          input {
            position: relative;
            // top: -3px;
          }
        }
      }
    }
  }
  &.stats {
  }
}

.create-note-box {
  margin-bottom: 0;
  .add-note-heading {
    text-transform: uppercase;
  }
}

.note-actions {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

table.table {
  thead {
    tr {
      th {
        &.sortable {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .affix {
    width: 360px;
  }
}

.modal-dialog {
  position: relative;
  z-index: 1055;
}

.padento-login {
  img {
    height: 70px;
    width: auto;
    margin: $grid-gutter-width 0;
  }
}

.modal-dialog {
  top: 100px;
}

.contact-box {
  dl {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
  h4 {
    margin-top: 0;
    text-transform: uppercase;
  }
  input {
    width: 100% !important;
  }
  .action {
    // float:right;
    line-height: 28px;
    cursor: pointer;
    padding: 0;
  }
}

.phase,
.stage {
  &.phase-1 {
    background-color: #FFD600 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#FFD600, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#FFD600, 15%)
    }
  }
  &.phase-2 {
    background-color: #F8AA00 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#F8AA00, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#F8AA00, 15%)
    }
  }
  &.phase-3 {
    background-color: #B9CE00 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#B9CE00, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#B9CE00, 15%)
    }
  }
  &.phase-4 {
    background-color: #55AA32 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#55AA32, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#55AA32, 15%)
    }
  }
  &.phase-5 {
    background-color: #00AFF5 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#00AFF5, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#00AFF5, 15%)
    }
  }
  &.phase-6 {
    background-color: #C0392B !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#C0392B, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#C0392B, 15%)
    }
  }
}

.phase,
.stage {
  &.phasedentist-1 {
    background-color: #0078a9 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#02658e, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#02658e, 15%)
    }
  }
  &.phasedentist-2 {
    background-color: #00AFF5 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#00AFF5, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#00AFF5, 15%)
    }
  }
  &.phasedentist-3 {
    background-color: #FFD600 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#FFD600, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#FFD600, 15%)
    }
  }
  &.phasedentist-4 {
    background-color: #B9CE00 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#B9CE00, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#B9CE00, 15%)
    }
  }
  &.phasedentist-5 {
    background-color: #55AA32 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#55AA32, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#55AA32, 15%)
    }
  }
  &.phasedentist-6 {
    background-color: #CDAD00 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#CDAD00, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#CDAD00, 15%)
    }
  }
  &.phasedentist-7 {
    background-color: #FF0000 !important;
    color: white !important;
    font-weight: bold;
    &:hover {
      background-color: darken(#FF0000, 5%) !important;
    }
    &.active {
      box-shadow: 0px 0px 2px 2px darken(#FF0000, 15%)
    }
  }
}

.label {
  padding: .4em .6em .3em;
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  &.label-new {
    background-color: #B9CE00;
    text-transform: uppercase;
    position: relative;
    top: -2px;
  }
}

.clip {
  color: $pcolor;
  cursor: pointer;
  &:hover {
    color: darken($pcolor, 10%);
  }
}

.dot {
  &.activ {
    color: $brand-success;
  }
  &.not-activ {
    color: $brand-danger;
  }
}

.contacts-pagination {
  // position: fixed;
  background-color: #fcfcfc;
  // width: 100%;
  // bottom: 0;
  text-align: center;
  // left: 0;
  // right: 0;
  padding-top: 10px;
  .pagination {
    display: inline-block;
    margin: 0;
    .btn-group {
      position: relative;
      top: -14px;
      width: 80px !important;
    }
  }
  .form-control .btn-group {
    display: inline-block;
    position: relative;
    top: -15px;
    width: 100px;
    margin-left: 15px;
  }
}

td.ref {
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}

#debug {
  display: none;
  background-color: white;
  margin: 15px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  z-index: 100000000000;
  &.active {
    display: block;
  }
}

.stats-box {
  text-align: center;
  .stat {
    .text {
      text-transform: uppercase;
      font-size: 12px;
      color: darken(#A5AEB1, 10%);
    }
    .number {
      font-size: 30px;
      color: $pcolor;
    }
    .sub-text {
      text-transform: uppercase;
      font-size: 11px;
    }
  }
  .no-input {
    text-align: right !important;
  }
  h4 {
  }
}

.table-wrap {
  position: relative;
  overflow-x: auto;
}

.table-meta-data {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 3px;
}

a.del {
  color: $brand-danger;
}

#contact {
  display: none;
}

#spinner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  text-align: center;
  z-index: 100000000000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  i {
    position: absolute;
    top: 50%;
    font-size: 40px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 9000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 9000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 9000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1900ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table.table-striped.table-condensed {
  tbody {
    tr {
      &:hover {
        background-color: darken(#f9f9f9, 5%);
      }
    }
  }
}

.filter-form {
  .form-group {
    label {
      display: block;
    }
    display: inline-block;
  }
}

.new-contact {
  margin-bottom: 15px;
}

.print-logo {
  display: none;
}

@media print {
  body,
  html,
  main {
    height: auto !important;
    min-height: auto !important;
    overflow: visible !important;
  }
  aside {
    display: none;
  }
  main header {
    display: none;
  }
  .content {
  }
  .print-logo {
    display: block;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    img {
      display: inline-block;
      height: 60px !important;
      width: auto !important;
    }
  }
  main {
    > div {
      height: auto !important;
    }
    margin-left: 0px !important;
    .content {
      padding-top: 0px !important;
      height: auto !important;
    }
  }
  #contact {
    // zoom: 70% !important;
    //     .contact-data {
    //     display: inline-block;
    //     width: 200px !important;
    // }
    // .contact-info {
    //     display: inline-block;
    //     width: 800px !important;
    // }
  }
  .stage {
    display: none !important;
  }
  .stage.active {
    display: block !important;
    font-weight: bold !important;
    color: $brand-primary !important;
    height: auto !important;
    background-color: none;
  }
  .create-note-box {
    display: none;
  }
  .action {
    display: none;
  }
  .printer {
    display: none;
  }
  .btn-moveback {
    display: none;
  }
  #notes {
    border-left: none !important;
  }
  .box {
    padding: 5px;
  }
}

[v-cloak] {
  display: none;
}

.spin {
  -webkit-animation: spin 1.5s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

li.list-group-item.list-item-hover {
  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: 100% !important;
  bottom: auto !important;
  margin-bottom: 2px;
}