<div class="content">
    <div class="row">
        <div class="form-group col-md-4">
            <input type="text" id="daterange" value="" class="form-control" placeholder="Select Date Range"/>
        </div>

        <div class="form-group col-md-4" v-if="isAdmin">
            <label>Labor:</label>
            <select v-model="form.lab_ids" v-selectpicker="[form.lab_ids, labs]" data-live-search="true"
                    data-title="Alle" multiple>
                <option v-for="lab in labs" v-bind:value="lab.id">{{ lab.name }}</option>
            </select>
        </div>
    </div>

    <div class="row" v-if="isAdmin">
        <div class="col-md-12">
            <span v-if="form.queued == null || form.queued !== 1">
                <a href="javascript:void(0)" @click="withQueuedService">Mit Kontaktverwaltung</a>
            </span>
            <span v-else>Mit Kontaktverwaltung</span>
            |
            <span v-if="form.queued == null || form.queued !== 0">
                <a href="javascript:void(0)" @click="withoutQueuedService">Ohne Kontaktverwaltung</a>
            </span>
            <span v-else>Ohne Kontaktverwaltung</span>
            |
            <span v-if="form.active_lab == null || form.active_lab !== true">
                <a href="javascript:void(0)" @click="withActiveLab">Aktive Labore</a>
            </span>
            <span v-else>Aktive Labore</span>
            |
            <span v-if="form.active_lab == null || form.active_lab !== false">
                <a href="javascript:void(0)" @click="withInactiveLab">Inaktive Labore</a>
            </span>
            <span v-else>Inaktive Labore</span>
            |
            <a href="javascript:void(0)" @click="clearFilters">Zurücksetzen</a>
        </div>
    </div>

    <div class="row" v-if="isAdmin">
        <div class="col-md-12">
            <p><strong>Ausgewählte Labore:</strong> {{ labNames }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ausgewählte Zeitspanne
                    <span class="pull-right">Kontakte: {{ totalContacts(current_range) }}</span>
                </div>
                <div class="panel-body">
                    <canvas id="current_range_chart"></canvas>
                    <br>
                    <p v-if="form.start_date && form.end_date" style="text-align: center">{{ date(form.start_date) }} - {{ date(form.end_date) }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Vergleichs-Zeitspanne
                    <span class="pull-right">Kontakte: {{ totalContacts(previous_range) }}</span>
                </div>
                <div class="panel-body">
                    <canvas id="previous_range_chart"></canvas>
                    <br>
                    <!--
                    <p v-if="form.start_date && form.end_date" style="text-align: center">{{ date(form.start_date) }} - {{ date(form.end_date) }}</p>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Monat</th>
                            <th class="text-right">Kontakte</th>
                            <th class="text-right" v-if="isAdmin">Ohne Labore</th>
                            <th class="text-right">{{ labels[0] }}</th>
                            <th class="text-right">{{ labels[1] }}</th>
                            <th class="text-right">{{ labels[2] }}</th>
                            <th class="text-right">{{ labels[3] }}</th>
                            <th class="text-right">{{ labels[4] }}</th>
                            <th class="text-right">{{ labels[5] }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(month, data) in all">
                            <td>{{ month }}</td>
                            <td class="text-right">{{ totalContacts(data) }}</td>
                            <td class="text-right" v-if="isAdmin">{{ data[6] }} ({{ percentage(data[6], data) }}%)</td>
                            <td class="text-right">{{ data[0] }} ({{ percentage(data[0], data) }}%)</td>
                            <td class="text-right">{{ data[1] }} ({{ percentage(data[1], data) }}%)</td>
                            <td class="text-right">{{ data[2] }} ({{ percentage(data[2], data) }}%)</td>
                            <td class="text-right">{{ data[3] }} ({{ percentage(data[3], data) }}%)</td>
                            <td class="text-right">{{ data[4] }} ({{ percentage(data[4], data) }}%)</td>
                            <td class="text-right">{{ data[5] }} ({{ percentage(data[5], data) }}%)</td>
                        </tr>
                        <tr>
                            <td><strong>Gesamt</strong></td>
                            <td class="text-right">{{ total[0] }}</td>
                            <td class="text-right" v-if="isAdmin">{{ total[7] }}</td>
                            <td class="text-right">{{ total[1] }}</td>
                            <td class="text-right">{{ total[2] }}</td>
                            <td class="text-right">{{ total[3] }}</td>
                            <td class="text-right">{{ total[4] }}</td>
                            <td class="text-right">{{ total[5] }}</td>
                            <td class="text-right">{{ total[6] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
