<div class="content">
<div class="box">
      <h2>Profil</h2>
      <hr>
      <div class="row">
        <form class="form-horizontal col-md-7">
          <div class="form-group">
            <div class="col-md-4 control-label">
              <label for="welcometext">Begrüßungstext</label>
              <span class="help-block">Maximal 25 Wörter.</span>
            </div>
            <div class="col-md-8">
    <textarea name="" id="" cols="30" rows="10" class="form-control" v-model="labmeta.hello">{{ labmeta.hello }}</textarea>
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-md-4 control-label">
              <label for="moretext">Weiterer Text</label>
              <span class="help-block">Maximal 150 Wörter.</span>
            </div>
            <div class="col-md-8">
    <textarea name="" id="" cols="30" rows="10" class="form-control" v-model="labmeta.text">{{ labmeta.text }}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary" @click="tmpSave">Speichern</button>
            </div>
          </div>
        </form>
        <div class="col-md-5">
          <h4>Logo</h4>
          <p>Jpg-Datei, min. 300 px in Breite und Höhe, Hoch-/Querformat/quadratische Form möglich, im Optimalfall mit weißem Hintergrund</p>
          <p><input name="logo" type="file" id="logo">
          <p><img src="http://padento.de/img/logo74_175small.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <h2>Kontaktdaten / Ansprechpartner</h2>
      <hr>
      <div class="row">
        <form class="form-horizontal col-md-8">
          <div class="form-group">
            <label for="labname" class="col-md-4 control-label">Name des Labors</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="labname" v-model="lab.name">
            </div>
          </div>
          <div class="form-group">
            <label for="contactname" class="col-md-4 control-label">Ansprechpartner</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="contactname" v-model="labmeta.contact_person">
            </div>
          </div>
          <div class="form-group">
            <label for="contactname" class="col-md-4 control-label">Webseite</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="contactname" v-model="labmeta.url">
            </div>
          </div>
          <div class="form-group">
            <label for="street" class="col-md-4 control-label">Straße, Hausnummer</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="street" v-model="labmeta.street">
            </div>
          </div>
          <div class="form-group">
            <label for="plz" class="col-md-4 control-label">PLZ, Ort</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="plz" v-model="labmeta.zip">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" id="city" v-model="labmeta.city">
            </div>
          </div>
          <div class="form-group">
            <label for="tel" class="col-md-4 control-label">Telefonnummer</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="tel" v-model="labmeta.tel">
            </div>
          </div>

          <div class="form-group">
            <label for="street" class="col-md-4 control-label">E-Mail-Adresse</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="street" v-model="labmeta.contact_email">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary" @click="tmpSave" >Speichern</button>
            </div>
          </div>
        </form>
        <div class="col-md-4">
          <h4>Portraitfoto Ansprechpartner</h4>
          <p>Jpg-Datei, min. 300 px in Breite und Höhe, Hochformat, Seitenverhältnis 2:3 oder 3:4, im Optimalfall mit hellem Hintergrund
          <p><input type="file">
          <p><img src="http://padento.de/img/foto74_200small.jpg" alt="">
        </div>
      </div>
    </div>


    <div class="box">
      <h2>Zugangsdaten</h2>
      <hr>

      <div class="row">
        <form class="form-horizontal col-md-8">
          <div class="form-group">
            <label for="name" class="col-md-4 control-label">Name</label>
            <div class="col-md-8">
              <input type="text" class="form-control" id="name" v-model="user.name">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-4 control-label">E-Mail-Adresse</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="email" v-model="user.email">
            </div>
          </div>
          <div class="form-group">
            <label for="email-again" class="col-md-4 control-label">E-Mail-Adresse wiederholen</label>
            <div class="col-md-8">
              <input type="email" class="form-control" id="email-again" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary" @click="tmpSave" >E-Mail-Adresse Speichern</button>
            </div>
          </div>
        </form>
      </div>
      <h4>Passwort ändern</h4>
      <hr>
      <div class="row">
        <form class="form-horizontal col-md-8">
          <div class="form-group">
            <label for="password" class="col-md-4 control-label">Passwort</label>
            <div class="col-md-8">
              <input type="password" class="form-control" id="password" v-model="user.password">
            </div>
          </div>
          <div class="form-group">
            <label for="password_confrimation" class="col-md-4 control-label">Passwort wiederholen</label>
            <div class="col-md-8">
              <input type="password" class="form-control" id="password_confirmation" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-4">
              <button type="submit" class="btn btn-primary" @click="tmpSave">Passwort speichern</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
